:root{
    --blue:hsl(223, 87%, 63%);
    --pblue:hsl(223, 100%, 88%);
    --lred:hsl(354, 100%, 66%);
    --grey:hsl(0, 0%, 59%);
    --dblue:hsl(209, 33%, 12%);
}

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'libre franklin',sans-serif;
    /* border: 1px solid red; */
}

input[type=email]{
    border-radius: 25px;
    border:1px solid blue;
    padding:  10px 20px;
    /* width: 100%; */
    margin-bottom: 10px;
    /* width: 55%; */
}
.email{
    width: 65%;
    margin-right: 5px;
}
.form{
    margin-top: 20px;
    justify-content: center;
}
::placeholder{
    color: var(--grey);
}
button{
    background-color: var(--blue);
    border: none;;
    padding:5px 10px;
    border-radius: 25px;
    /* width: 100%; */
    color: white;
    margin-bottom: 10px;
    padding:10px;
    width: 20%;
    
}
input:focus{
    outline: none;
}
button:hover{
    cursor: pointer;
}
h1{
   
    color: var(--grey);
}
.dash{
    width: 90%;
    margin: 0 auto;
}
.bold{
    color: black;
    font-weight: bold;
}
.copy{
    font-size: 10px; 
}
#none{
    color: red;
    font-size: 14px;
    margin-bottom: 5px;
    display: none;
}
@media screen and (max-width:600px) {
    main{
        width: 80%;
        text-align: center;
        margin: 50px auto;
    }
    .dash{
        width: 90%;
       
    }
    h1{
        margin: 20px 0;
        font-size: 16px;
    }
    input[type=email]
    {
        /* margin-top: 20px; */
    }
    .email{
        width: 100%;
    }
    button{
        margin-bottom: 50px;
    }
    input[type=email],button{
        width: 100%;
    }
   
    
}

@media screen and (min-width:601px) {
    .form{
        display: flex;
        /* justify-content: space-around; */
        /* margin-left: auto; */
        /* margin-right: auto; */
        /* text-align: center; */
    }
    main{
        width: 550px;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
    }
    .logo{
        width: 80px;
        margin-bottom: 50px;
    }
}